div.pattern-list {
}
div.pattern-list div.pattern {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  text-align: left;
}
div.pattern-list div.pattern > a {
  text-align: center;
}
div.pattern-list div.pattern > div {
  padding: 0.5rem 0 0 1rem;
  text-align: left;
  width: 100%;
}
div.pattern-list div.pattern > div h5 {
  margin: 0;
  line-height: 1.2;
}
div.pattern-list div.pattern > div h5 span {
  word-wrap: anywhere;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  font-size: 1rem;
  color: #868e96;
}
div.pattern-list div.pattern > div div.notes {
  word-wrap: anywhere;
  margin: 0;
  padding: 0;
  width: 100%;
}
.prefix {
  display: block;
  font-size: 1rem;
}
