# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prexifed with GATSBY_ will be made available to client-side code
# be careful not to expose sensitive data (in this case your Algolia update key)
GATSBY_LANGUAGE="en"
GATSBY_FRONTEND="http://localhost:8000/"
GATSBY_BACKEND="http://localhost:3000/"
GATSBY_TILER="http://localhost:4000/"
GATSBY_GITHUB_CLIENT_ID="insertValueHere"
GATSBY_GOOGLE_CLIENT_ID="insertValueHere"
GATSBY_ALGOLIA_API_ID="insertValueHere"
GATSBY_ALGOLIA_SEARCH_KEY="insertValueHere"
GATSBY_ALGOLIA_UPDATE_KEY="insertValueHere"
