@import '../../../node_modules/open-color/open-color.scss';

footer {
  background-color: darken($oc-gray-9, 3);
  color: $oc-gray-5;
  padding: 2rem 0;
  a {
    color: $oc-gray-3 !important;
    font-weight: 500;
  }
  a:hover {
    color: $oc-violet-2 !important;
  }
  div.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    > div {
      min-width: 150px;
      max-width: calc(20% - 4rem);
      padding: 0 2rem 0 0;
      width: 100%;
    }
    div:last-of-type {
      min-width: 250px;
    }
  }
  ul {
    text-align: left;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    li:first-of-type {
      padding: 0.35rem 0.75rem;
    }
    li {
      display: block;
      a {
        display: block;
        text-transform: capitalize;
        padding: 0.35rem 0.75rem;
      }
      a:hover {
        text-decoration: none !important;
      }
    }
    li.heading {
      font-weight: bold;
      border-bottom: 3px solid $oc-gray-5;
      margin-bottom: 0.5rem;
    }
  }
  div.logo {
    text-align: center;
    width: 100%;
    padding-top: 2rem;
    color: $oc-gray-0;
    div.name {
      display: block;
      font-size: 1.5rem;
      font-weight: 300;
      span.free {
        font-weight: 500;
      }
    }
  }
  div.slogan {
    width: 100%;
    padding-top: 2rem;
    font-weight: 500;
    display: block;
    font-size: 1.25rem;
    line-height: 1.2;
    text-align: center;
    color: $oc-gray-2;
    font-weight: 100;
  }
  p.version {
    font-size: 1rem;
  }
}

/* XL screens */
@media (min-width: 1200px) {
  footer div.cols > div:last-of-type {
    min-width: 350px;
  }
}
/* SM screens */
@media (min-width: 600px) and (max-width: 959px) {
  footer div.cols {
    flex-wrap: wrap;
    > div {
      width: calc(30% - 4rem);
      padding: 0 1rem;
    }
    > div:last-of-type {
      min-width: calc(100% - 2rem);
      margin-top: 3rem;
      margin-bottom: 3rem;
      div.logo {
        margin: auto;
      }
    }
  }
}
/* XS screens */
@media (max-width: 599px) {
  footer div.cols {
    display: block;
    > div {
      margin: 2rem auto 0;
      max-width: calc(100% - 4rem);
    }
    > div:first-of-type {
      margin-top: 0;
    }
  }
}
