@import '../../../node_modules/open-color/open-color.scss';

div.tiers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: $oc-gray-9;
  div.tier {
    width: calc(33% - 3rem);
    margin: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    h2 {
      margin: 1rem 0;
      padding: 0;
      color: $oc-gray-9;
    }
    span {
      display: block;
      line-height: 1;
    }
    span.price {
      font-size: 5rem;
    }
    span.period {
      font-size: 1rem;
    }
    p {
      line-height: 1.2;
      min-height: 8rem;
      font-weight: 400;
    }
    form.monthly button {
      padding: 1rem 2rem;
      margin: 1rem auto;
    }
    form.yearly button {
      color: $oc-gray-9;
    }
  }
  div.tier-2 {
    background: $oc-teal-4;
  }
  div.tier-4 {
    background: $oc-pink-4;
  }
  div.tier-8 {
    background: $oc-violet-4;
  }
}
