@import '../../node_modules/open-color/open-color.scss';
div.size {
  border: 1px solid $oc-gray-3;
  width: 140px;
  border-radius: 3px;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0.5rem;
  div.top {
    background: $oc-gray-9;
    width: calc(100% - 4rem);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: $oc-gray-1;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    h5 {
      text-align: center;
      margin: 0 auto;
      line-height: 1;
      text-shadow: 0 0 2px #000c;
      span.prefix {
        font-size: 1rem;
      }
      span.size {
        font-size: 3rem;
      }
    }
  }
  div.bottom {
    background: $oc-gray-2;
    font-family: 'Roboto Condensed';
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    width: calc(100% - 1rem);
    min-height: 3rem;
    span.val {
      padding: 0 0.5rem;
    }
  }
  a.link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
div.size.breasts > div.top {
  border-color: $oc-pink-7;
  svg {
    color: $oc-pink-5;
  }
}
div.size.no-breasts > div.top {
  border-color: $oc-violet-7;
  svg {
    color: $oc-violet-5;
  }
}

.theme-wrapper.dark {
  div.size {
    border: 1px solid $oc-gray-7;
    div.bottom {
      background: $oc-gray-8;
    }
    div.avatar img {
      border-color: $oc-gray-8;
    }
  }
}
@media (max-width: 599px) {
  div.person {
    width: 100%;
    max-width: 400px;
    div.top {
      width: calc(100% - 3rem - 50px);
      padding-left: calc(2rem + 50px);
      height: 4.5rem;
      h5 {
        font-size: 90%;
      }
    }
    div.bottom {
      padding-left: calc(2rem + 50px);
      width: calc(100% - 2.5rem - 50px);
      ul li {
        padding: 0;
        font-size: 95%;
      }
    }
    div.avatar {
      img {
        width: 50px;
        height: 50px;
        top: 6rem;
      }
    }
  }
}
