@import '../../node_modules/open-color/open-color.scss';
div.size {
  width: 166px;
  border-radius: 3px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0.5rem;
  div.top {
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
    border-bottom: 4px solid transparent;
    h5 {
      text-align: center;
      margin: 0 auto;
      line-height: 1;
      span.prefix {
        font-size: 1rem;
        display: block;
      }
      span.size {
        font-size: 3rem;
        display: block;
      }
    }
  }
  div.bottom {
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    width: calc(100% - 1rem);
    min-height: 3rem;
    span.val {
      padding: 0 0.5rem;
    }
  }
  a.link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.theme-wrapper.light {
  div.size:hover {
    background: $oc-gray-1;
  }
  div.size.breasts {
    div.top {
      border-color: $oc-pink-7;
      svg {
        color: $oc-pink-5;
      }
    }
    div.bottom {
      background: #f0659526;
    }
  }
  div.size.no-breasts {
    > div.top {
      border-color: $oc-violet-7;
      svg {
        color: $oc-violet-5;
      }
    }
    > div.bottom {
      background: #845ef726;
    }
  }
}
.theme-wrapper.dark {
  div.size:hover {
    background: $oc-gray-8;
  }
  div.size.breasts {
    div.top {
      border-color: $oc-pink-4;
      svg {
        color: $oc-pink-4;
      }
    }
    div.bottom {
      background: #f783ac26;
    }
  }
  div.size.no-breasts {
    div.top {
      border-color: $oc-violet-4;
      svg {
        color: $oc-violet-4;
      }
    }
    div.top:hover {
      background: $oc-gray-8;
    }
    div.bottom {
      background: #9775fa26;
    }
  }
}
@media (max-width: 599px) {
  div.size {
    width: 144px;
    div.top h5 span.size {
      font-size: 2rem;
    }
  }
}
