#pattern-mask {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  display: none;
  z-index: 24;
}
#pattern-mask.show {
  display: block;
}
.theme-wrapper.light #pattern-mask.show {
  background: #f8f9fa99;
}
.theme-wrapper.dark #pattern-mask.show {
  background: #21252999;
}

#pattern-dialog {
  border: none;
  height: calc(100vh - 4rem);
  max-width: calc(800px - 4rem);
  position: fixed;
  top: 0;
  right: 0;
  margin-right: calc(-800px - 4rem);
  z-index: 25;
  transition: margin-right ease-in-out 0.3s;
  padding: 2rem;
  overflow-y: scroll;
}

#pattern-dialog.show {
  margin-right: 0;
}

.theme-wrapper.desktop #pattern-dialog {
  width: 100%;
}

.theme-wrapper.light #pattern-dialog {
  background: #f8f9fa;
}

.theme-wrapper.dark #pattern-dialog {
  background: #212529;
}

ul.config {
  font-family: 'Roboto condensed';
}
